.allPosts {
    .postsTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3em 0 1em 0;

        h2 {
            color: var(--black);
        }

        button {
            background-color: var(--blue);

            p {
                color: var(--neutral-white);
                font-size: 16px;
            }
        }
    }

    .postsCompra {
        display: flex;
        gap: 0.8em;
        flex-wrap: wrap;

        button {
            display: none;
        }
    }
}