.seeAllButton {
    background-color: transparent;
    border: none;
    padding-top: 0.5em;

    .lin {
        padding: 0.5em 1em 0.5em 0;
        font-size: 16px;
        text-decoration: none;
        color: var(--blue);

        &:hover {
            cursor: pointer;
            filter: brightness(150%)
        }
    }
}