.container {
    width: 1136px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .container {
        width: 768px;
    }
}

@media (max-width: 400px) {
    .container {
        width: 95%;
    }
}