.container {
    width: 1136px;
    margin: 0 auto;
}

@media (max-width: 800px) {
    .container {
        width: 768px;
    }
}

@media (max-width: 400) {
    .container {
        width: 360px;
    }
}