.header {
    height: 115px;
    width: 100%;
    background-color: var(--neutral-white);
    display: flex;
    align-items: center;

    .innerHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .leftHeader {
            display: flex;
            gap: 1em;

            .search {
                border-radius: 15px;
                width: 393px;
                background-color: var(--neutral-gray);
                height: 55px;

                input {
                    float: left;
                    margin: 1em;
                    padding: 1em;
                    background-color: transparent;
                    font-size: 14px;
                    border: none;
                    height: 30px;
                    width: 80%;
                    color: var(--neutral-black);
                }

                img {
                    float: right;
                    padding: 1em;
                }
            }
        }

        .searchMobile {
            display: none;
        }
    }
}

.buttonLink.open {
    display: none;
}

@media (max-width: 400px) {
    .header {
        height: 72px;
        .innerHeader {
            .leftHeader {
                img{
                    width: 150px;
                }
                .search {
                    display: none;
                }
            }
            .butonLogin{
                button{
                    width: 100px;
                }
            }

            .searchMobile {
                display: block;
                padding: 1em;
            }
        }
    }
}