.customInput {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: -1.7em;
        padding-left: 1.3em;
        font-size: 12px;
        z-index: 10;
        color: var(--neutral-black);
    }

    input {
        width: 423px;
        height: 56px;
        padding: 2em 1em 1em 1em;
        border: none;
        border-bottom: 1px solid var(--neutral-black);
        background-color: var(--neutral-white);
        color: var(--neutral-black);
    }
}