.selectedProduct {
    background-color: var(--neutral-gray);

    .innerSelectedProduct {
        .product {
            padding: 4em 0;
            display: flex;
            align-items: center;

            img {
                width: 560px;
                height: 403px;
            }

            .description {
                padding: 1em;

                h2 {
                    font-size: 52px;
                    color: var(--neutral-black);
                }

                h6 {
                    color: var(--neutral-black);
                    padding: 0.7em 0;
                    font-weight: 700;
                }

                p {
                    color: var(--neutral-black);
                }
            }
        }

        h2 {
            color: var(--neutral-black);
            padding:0 0 1em 0;
        }

        .produtosSimilares {
            display: flex;
            gap: 0.8em;
            flex-wrap: wrap;
        }
    }
}