.selectedProduct {
    background-color: var(--neutral-gray);

    .innerSelectedProduct {
        .product {
            padding: 4em 0;
            display: flex;
            align-items: center;

            img {
                width: 560px;
                height: 403px;
            }

            .description {
                padding: 1em;

                h2 {
                    font-size: 52px;
                    color: var(--neutral-black);
                }

                h6 {
                    color: var(--neutral-black);
                    padding: 0.7em 0;
                    font-weight: 700;
                }

                p {
                    color: var(--neutral-black);
                }
            }
        }

        h3 {
            color: var(--neutral-black);
            padding: 0 0 1em 0;
        }
    }
}

@media (max-width: 400px) {
    .selectedProduct {
        .innerSelectedProduct {
            .product {
                flex-direction: column;

                h2 {
                    font-size: 22px;
                }
                h6 {
                    font-size: 16px;
                }
            }
            h3 {
                margin-top: -1em;
                font-size: 22px;
            }
        }
    }
}